In [52]:
import pandas as pd
import numpy as np

In [17]:
melbourne_data = pd.read_csv("../datasets/melb_data.csv");

In [18]:
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,31420.000000,2.458900e+04,31419.000000,31419.000000,24211.000000,24205.000000,23821.000000,20621.000000,12569.000000,14294.000000,24434.000000,24434.000000,31417.000000
mean,3.019764,1.048342e+06,11.046431,3115.052962,3.051588,1.610576,1.703455,588.068377,158.426641,1965.319015,-37.811527,145.001513,7563.836203
std,0.974266,6.415156e+05,6.696776,107.223963,0.990758,0.723262,1.002708,3525.370243,415.300783,37.296614,0.088460,0.117798,4433.623599
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.185600,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3049.000000,2.000000,1.000000,1.000000,208.000000,100.000000,1940.000000,-37.862400,144.934525,4385.000000
50%,3.000000,8.700000e+05,10.200000,3103.000000,3.000000,2.000000,2.000000,501.000000,134.000000,1970.000000,-37.808200,145.007100,6763.000000
75%,4.000000,1.292000e+06,13.900000,3155.000000,4.000000,2.000000,2.000000,667.000000,185.000000,2000.000000,-37.755700,145.070115,10331.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.000000,2106.000000,-37.390200,145.526350,21650.000000

Tasks

#1. Print a list of the columns

In [19]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

#2. From the list of columns, find a name of the column with the sales prices of the homes. 
Use the dot notation to extract this to a variable

In [20]:
melbourne_price_data = melbourne_data.Price

#3. Use the head command to print out the top few lines of the variable you just created

In [21]:
melbourne_price_data.head(10)

0          NaN
1    1480000.0
2    1035000.0
3          NaN
4    1465000.0
5     850000.0
6    1600000.0
7          NaN
8          NaN
9          NaN
Name: Price, dtype: float64

#4. Pick any two variables and store them to a new DataFrame

In [22]:
two_columns_of_data = melbourne_data[['Rooms', 'Price']]

#5. Use the describe command with the DataFrame you just created to see summaries of those variables

In [23]:
two_columns_of_data.describe()

              Rooms         Price
count  31420.000000  2.458900e+04
mean       3.019764  1.048342e+06
std        0.974266  6.415156e+05
min        1.000000  8.500000e+04
25%        2.000000  6.350000e+05
50%        3.000000  8.700000e+05
75%        4.000000  1.292000e+06
max       16.000000  1.120000e+07

Inspecting Null

In [78]:
#many columns contains null values... and our model does not work on null values hence dropping null
melbourne_data = melbourne_data.dropna()
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,8059.000000,8.059000e+03,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000
mean,3.059933,1.083538e+06,10.927261,3109.881623,3.037225,1.626753,1.663234,514.768706,147.131942,1965.316789,-37.805948,144.991646,7453.489887
std,0.972318,6.757418e+05,6.672705,107.994760,0.974280,0.722753,0.967197,1004.332868,89.014659,37.144409,0.088149,0.115483,4379.741869
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.174360,144.423790,290.000000
25%,2.000000,6.350000e+05,6.400000,3044.000000,2.000000,1.000000,1.000000,195.000000,97.000000,1945.000000,-37.857865,144.921865,4380.000000
50%,3.000000,8.900000e+05,9.900000,3083.000000,3.000000,2.000000,2.000000,462.000000,130.000000,1970.000000,-37.799990,144.997800,6543.000000
75%,4.000000,1.335000e+06,13.800000,3150.000000,4.000000,2.000000,2.000000,651.000000,178.000000,2000.000000,-37.751215,145.062350,10331.000000
max,12.000000,9.000000e+06,47.400000,3977.000000,12.000000,9.000000,10.000000,40469.000000,3112.000000,2018.000000,-37.407200,145.526350,21650.000000

# Building Model

In [79]:
#Prediction Target
y = melbourne_data.Price
y.count

<bound method Series.count of 2        1035000.0
4        1465000.0
6        1600000.0
11       1876000.0
14       1636000.0
18       1097000.0
24       1350000.0
25        750000.0
30       1310000.0
32       1200000.0
35       1176500.0
37        890000.0
38       1330000.0
42        500000.0
43       1100000.0
44       1315000.0
49       1447500.0
51       1135000.0
56       1290000.0
57        470000.0
58       1180000.0
59       1195000.0
61       1012500.0
63       1030000.0
66        840000.0
67        730000.0
68        770000.0
70        603000.0
71        700000.0
72        600000.0
           ...
31280     495000.0
31290     970000.0
31294     733000.0
31300     697000.0
31301     631500.0
31305    1950000.0
31318    1210000.0
31325     640000.0
31328     800000.0
31333     652000.0
31345     610000.0
31353     516000.0
31355     735000.0
31358    1150000.0
31364    1850000.0
31367     607000.0
31368     611000.0
31369     557500.0
31371    1075000.0
31374    1371000.0
31378     470000.0
31389    1025000.0
31391     631000.0
31395     650000.0
31396     935000.0
31403     760000.0
31405     430000.0
31406     975000.0
31411     775000.0
31413     625000.0
Name: Price, Length: 8059, dtype: float64>

In [80]:
melbourne_data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [81]:
predictors = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude']
X = melbourne_data[predictors]
X.describe()

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
count,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000
mean,3.059933,1.626753,514.768706,147.131942,1965.316789,-37.805948,144.991646
std,0.972318,0.722753,1004.332868,89.014659,37.144409,0.088149,0.115483
min,1.000000,1.000000,0.000000,0.000000,1196.000000,-38.174360,144.423790
25%,2.000000,1.000000,195.000000,97.000000,1945.000000,-37.857865,144.921865
50%,3.000000,2.000000,462.000000,130.000000,1970.000000,-37.799990,144.997800
75%,4.000000,2.000000,651.000000,178.000000,2000.000000,-37.751215,145.062350
max,12.000000,9.000000,40469.000000,3112.000000,2018.000000,-37.407200,145.526350

The steps to building and using a model are:

Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
Fit: Capture patterns from provided data. This is the heart of modeling.
Predict: Just what it sounds like
Evaluate: Determine how accurate the model's predictions are.

In [82]:
from sklearn.tree import DecisionTreeRegressor

#Defining Model
melbourne_model = DecisionTreeRegressor()

#Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [84]:
X.head()

    Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
2       2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
4       3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
6       4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
11      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
14      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

In [88]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

365.36791165156967

In [90]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=0)
melbourne_model = DecisionTreeRegressor()
melbourne_model.fit(train_X, train_y)

val_predictions = melbourne_model.predict(test_X)
print(mean_absolute_error(test_y, val_predictions))

250221.974194

In [91]:
#Understanding Overfitting and Underfitting by applying different sizes of the tree
def get_mae(max_leaf_nodes, predictors_train, predictors_val, targ_train, targ_val):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(predictors_train, targ_train)
    preds_val = model.predict(predictors_val)
    mae = mean_absolute_error(targ_val, preds_val)
    return(mae)

for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, test_X, train_y, test_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  346210
Max leaf nodes: 50  		 Mean Absolute Error:  258185
Max leaf nodes: 500  		 Mean Absolute Error:  239157
Max leaf nodes: 5000  		 Mean Absolute Error:  249949

Of the options listed, 500 is the optimal number of leaves. Apply the function to your Iowa data to find the 
best decision tree

Here's the takeaway: Models can suffer from either:

Overfitting: capturing spurious patterns that won't recur in the future, leading to less accurate predictions, or
Underfitting: failing to capture relevant patterns, again leading to less accurate predictions.
We use validation data, which isn't used in model training, to measure a candidate model's accuracy. This lets us try many candidate models and keep the best one.

But we're still using Decision Tree models, which are not very sophisticated by modern machine learning standards.