In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series(np.linspace(0,2,4))

In [4]:
data

0    0.000000
1    0.666667
2    1.333333
3    2.000000
dtype: float64

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data1 = pd.Series(np.linspace(0,2,4), index=list('abca'))
data1

a    0.000000
b    0.666667
c    1.333333
a    2.000000
dtype: float64

In [8]:
area_dict = {
    'California':123445,
    'Texas':324323,
    'New York': 1242342,
    'Florida': 432145
}
area_dict

{'California': 123445, 'Florida': 432145, 'New York': 1242342, 'Texas': 324323}

In [10]:
series_data = pd.Series(area_dict)
series_data

California     123445
Florida        432145
New York      1242342
Texas          324323
dtype: int64

In [11]:
population_dict = {
    'California':892373824,
    'Texas':723276482,
    'New York': 4867385234,
    'Florida': 859382321
}
population_dict

{'California': 892373824,
 'Florida': 859382321,
 'New York': 4867385234,
 'Texas': 723276482}

In [13]:
population_data = pd.Series(population_dict)
population_data

California     892373824
Florida        859382321
New York      4867385234
Texas          723276482
dtype: int64

In [15]:
states = pd.DataFrame({'population': population_data, 'area':series_data})
states

               area  population
California   123445   892373824
Florida      432145   859382321
New York    1242342  4867385234
Texas        324323   723276482

In [19]:
states.loc['California', 'area']

123445